body {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  background-image: url("https://images2.alphacoders.com/778/77840.jpg");
  background-color: #000000;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
}

.page-title {
  animation: flicker 1.5s infinite alternate;
  margin: 0 0 5px;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa,
      0 0 70px #0fa, 0 0 80px #0fa, 0 0 90px #0fa, 0 0 100px #0fa;
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.hacker-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  left: 10px;
}

body > img {
  margin: 0 10px;
}

img {
  max-height: 250px;
  position: center;
}

p {
  position: center;
}
